# TIBERO installation files
# ex) Y or N
#--------------------------------------------------------------------------------
export tibero_engine=Y
export tibero_tbinary=Y
#--------------------------------------------------------------------------------


# OS user configuration
#--------------------------------------------------------------------------------
export user_name=tibero
export user_home=/tibero
export group_name=dba
#-------------------------
#export root_cm_profile=Y
#--------------------------------------------------------------------------------


# TIBERO tip variables
#--------------------------------------------------------------------------------
export DB_NAME=testdb
#-------------------------
#export TB_SID=(default automatic)
#-------------------------
export TB_HOME=/tibero/tibero6
export CONTROL_FILE_PATH1=/tibero/tibero6/database
export CONTROL_FILE_PATH2=/tibero/tibero6/database
export DB_CREATE_FILE_DEST=/tibero/tibero6/database
export LOG_ARCHIVE_DEST=/tibero/tibero6/database
#--------------------------------------------------------------------------------


# TIBERO installation type
#--------------------------------------------------------------------------------
export tibero_type=SINGLE
export tibero_node=SINGLE
#-------------------------
#export tibero_type=TSC
#export tibero_node=primary
#export tibero_node=standby
#export cfile_path=(disk path)
#export tibero_node=observer
#export tibero_observer_enable=Y
#-------------------------
#export tibero_type=TAC
#export tibero_node=cm0
#export tibero_node=cm1
#export cfile_path=(disk path)
#export thread1_undo_size=10G
#export thread1_redo_size=300M
#--------------------------------------------------------------------------------

# TIBERO installation network
#--------------------------------------------------------------------------------
#export node1_interconnect_ip=
#export node2_interconnect_ip=
#export observer_ip=
#-------------------------
#export node1_vip_eth=
#export node2_vip_eth=
#export node1_vip_ip=
#export node2_vip_ip=
#--------------------------------------------------------------------------------


# TIBERO port variables
#--------------------------------------------------------------------------------
export LISTENER_PORT=8629
export LOCAL_CLUSTER_PORT=18629
export CM_PORT=28629
export CM_UI_PORT=$CM_PORT
export CM_OBSERVER_PORT=9050
export OBS_CM_UI_PORT=38629
# cm resource private network port
export TBCM_NET_PORT=29000
#--------------------------------------------------------------------------------


# Special options
#--------------------------------------------------------------------------------
export scp_port=22
export run_user=`whoami`
#-------------------------
export tibero_normal_tip="N"
export tibero_normal_cm_tip="N"
#--------------------------------------------------------------------------------


# Automatic configuration
#--------------------------------------------------------------------------------
# TB_SID automatic configuration
if [ "$tibero_node" == "SINGLE" ]
then
	export TB_SID="$DB_NAME"
elif [ "$tibero_node" == "primary" ]
then
    export TB_SID="$DB_NAME"_p
elif [ "$tibero_node" == "standby" ]
then
    export TB_SID="$DB_NAME"_s
elif [ "$tibero_node" == "cm0" ]
then
    export TB_SID="$DB_NAME"0
elif [ "$tibero_node" == "cm1" ]
then
    export TB_SID="$DB_NAME"1
else
	export TB_SID="$TB_SID"
fi

# CONTROL_FILE_PATH1, CONTROL_FILE_PATH2 automatic configuration
export CONTROL_FILE_PATH1_CFG="$CONTROL_FILE_PATH1"/tbctl1/c1.ctl
export CONTROL_FILE_PATH2_CFG="$CONTROL_FILE_PATH2"/tbctl2/c2.ctl

# DB_CREATE_FILE_DEST automatic configuration
export DB_CREATE_FILE_DEST_CFG="$DB_CREATE_FILE_DEST"/tbdata

# LOG_ARCHIVE_DEST automatic configuration
if [ "$tibero_node" == "cm0" ]
then
    eexport LOG_ARCHIVE_DEST_CFG="$LOG_ARCHIVE_DEST"/tbarch0
elif [ "$tibero_node" == "cm1" ]
then
    export LOG_ARCHIVE_DEST_CFG="$LOG_ARCHIVE_DEST"/tbarch1
else
    export LOG_ARCHIVE_DEST_CFG="$LOG_ARCHIVE_DEST"/tbarch
fi
#--------------------------------------------------------------------------------
